---
title: Events
dates:
-
  title: "Monday"
  date: 5/6
  events:
  -
    title: "event 1"
    description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, ad, voluptatem iste qui fugit deserunt aspernatur quae unde ipsam libero sequi assumenda non doloremque laborum cupiditate iusto minima voluptas expedita."
    event-url: http://google.com
    location: Reveille Joe Coffee Company
    location-url: http://google.com
    lat: 35.846682
    lon: -86.392921
  -
    title: "event 2"
    description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, ad, voluptatem iste qui fugit deserunt aspernatur quae unde ipsam libero sequi assumenda non doloremque laborum cupiditate iusto minima voluptas expedita."
    event-url: http://google.com
    location: Reveille Joe Coffee Company
    location-url: http://google.com
    lat: 35.846682
    lon: -86.392921
-
  title: "Tuesday"
  date: 5/7
  events:
  -
    title: "event 3"
    description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, ad, voluptatem iste qui fugit deserunt aspernatur quae unde ipsam libero sequi assumenda non doloremque laborum cupiditate iusto minima voluptas expedita."
    event-url: http://google.com
    location: Reveille Joe Coffee Company
    location-url: http://google.com
    lat: 35.846682
    lon: -86.392921
  -
    title: "event 4"
    description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, ad, voluptatem iste qui fugit deserunt aspernatur quae unde ipsam libero sequi assumenda non doloremque laborum cupiditate iusto minima voluptas expedita."
    event-url: http://google.com
    location: Reveille Joe Coffee Company
    location-url: http://google.com
    lat: 35.846682
    lon: -86.392921
  -
    title: "event 5"
    description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, ad, voluptatem iste qui fugit deserunt aspernatur quae unde ipsam libero sequi assumenda non doloremque laborum cupiditate iusto minima voluptas expedita."
    event-url: http://google.com
    location: Reveille Joe Coffee Company
    location-url: http://google.com
    lat: 35.846682
    lon: -86.392921
---
<h1>Events</h1>
<ul>
{{#each dates}}
  <li>
  {{title}} - {{date}}
  <ul>
    {{#each events}}
    <li>
      <p>{{title}}</p>
      <p><a href="{{location-url}}" data-lat="{{lat}}" data-lon="{{lon}}">{{location}}</a></p>
    </li>
    {{/each}}
  </ul>
  </li>
{{/each}}
</ul>
