---
title: Events
body_class: events
---
<div>
  <ul class="calendar">
  {{#each site.dates}}
  {{#if events}}
  <li class="calendar__date">
    <span class="date__heading">{{title}} - {{date}}</span>
    <ul>
      {{#each events}}
      <li class="event" data-lat="{{lat}}" data-lon="{{lon}}">
        <a target="_blank" class="event__inner" href="{{location-url}}">
          <time class="event__time" datetime="{{time-hour}}:{{time-minute}}{{time-daypart}}">
            <span class="event__time__hour">{{time-hour}}</span><span class="separatorPunctuation">:</span><span class="event__time__minute">{{time-minute}}</span><span class="event__time__daypart">{{time-daypart}}</span>
          </time>
          <span class="event__title">{{title}}</span>
          <span class="event__location">{{location}}</span>
        </a>
      </li>
      {{/each}}
    </ul>
  </li>
  {{/if}}
  {{/each}}
  </ul>
</div>


