---
title: Events
---
<div>
  <h1>Events</h1>
  <ul>
  {{#each site.dates}}
  <li>
    <span class="month-heading">{{title}} - {{date}}</span>
    <ul>
      {{#each events}}
      <li>
        <a target="_blank" class="event" href="{{location-url}}" data-lat="{{lat}}" data-lon="{{lon}}">
          <time datetime="{{time-hour}}:{{time-minute}}{{time-daypart}}">
            <span class="hour">{{time-hour}}</span><span class="separatorPunctuation">:</span><span class="minute">{{time-minute}}</span><span class="daypart">{{time-daypart}}</span>
          </time>
          <span class="title">{{title}}</span>
          <span class="location">{{location}}</span>
        </a>
      </li>
      {{/each}}
    </ul>
  </li>
  {{/each}}
  </ul>
</div>


